    :root {
      --monospace: "Iosevka Curly", "JetBrains Mono", "Fira Code", "Cascadia Code", Menlo, "Ubuntu Mono", Consolas, HYZhengYuan;
      --text-font: var(--monospace);
      --table-border-color: #dadce0;
      --table-header-bg-color: #eaeaeac9;
      --table-n2-bg-color: #f5f6f7;
    }

    body {
      margin: 0;
      padding: 0;
      inset: 0;
      font-size: 1rem;
      line-height: 1.5;
      overflow-x: hidden;
      background: inherit;
      font-family: var(--text-font) !important;
      letter-spacing: 0;
    }


    table {
      border-collapse: collapse;
      width: 100%;
      overflow: auto;
      text-align: center;
    }

    table th {
      font-weight: bold;
      border: .1em solid var(--table-border-color);
      border-bottom: 0;
      margin: 0;
      padding: 6px 13px;
    }

    table td {
      border: .1em solid var(--table-border-color);
      margin: 0;
      padding: 7px 13px;
    }

    table thead {
      background-color: var(--table-header-bg-color);
    }

    table tr:nth-child(2n) {
      background-color: var(--table-n2-bg-color);
    }